@font-face {
    font-family: ffmarksv;
    src: url(ffmarksv/FontFont_FF.Mark.Pro.Black.otf);
}

*{
    box-sizing: border-box;
}

input, button{
    all: unset;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: ffmarksv;
    font-size: 30px;
    background-image: linear-gradient(to bottom, #4d73ac, #8371b2, #b26da9, #d66b92, #e97474);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loginBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    user-select: none;
    width: 450px;
    height: 500px;
    gap: 15px;

}

.loginTitle{
    text-align: center;
    color: #ffffff;
}

.loginInput{
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    padding: 20px;
    background: rgba(70, 90, 126, 0.4);
    color: BLACK;
}

::placeholder {
    color: black;
    font-size: 15px;
}

input:focus::placeholder {
    visibility: hidden;
}

.socialMediaLogin {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

}

img {
    width: 45px;
    object-fit: cover;
    cursor: pointer;
}

.loginButton {
    background-color: #465a7e;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: #ffffff;
}

:where(.loginButton):hover {
    background-color: #64738f;
}

.semConta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

span {
    color: #ffffff;
    font-size: 16px;
    text-shadow: black 2px 2px 2px;
    cursor: pointer;
}

:where(span):hover {
    color: rgb(146, 146, 146);
}